<div class="card card-w-title" style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
        <i class="pi pi-fw pi-list"></i>
        <span style="font-size: 15px; margin-left: 5px;"><b>Departamentos</b></span>
    </div>
    <div>
        <p-button [raised]="true" severity="success" routerLink="/departamento/departamento-form/"
            label="Nuevo Departamento" icon="pi pi-plus" />
    </div>
</div>
<div class="card card-w-title">
    <p-table #dt [value]="departamentosEjemplo" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nombre', 'descripcion', 'descEstado']" [tableStyle]="{ 'min-width': '45rem' }"
        [rowHover]="true" dataKey="idDepartamento"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros."
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <p-button icon="pi pi-filter" severity="info" pTooltip="Mostrar filtros" tooltipPosition="top"
                    (click)="showFilter()" />
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">
                    Nombre <p-sortIcon field="nombre" />
                </th>
                <th pSortableColumn="descripcion">
                    Descripci&oacute;n <p-sortIcon field="descripcion" />
                </th>
                <th pSortableColumn="descEstado">
                    Estado <p-sortIcon field="descEstado" />
                </th>
                <th></th>
            </tr>
            <tr *ngIf="showSearch">
                <th>
                    <p-columnFilter type="text" field="nombre" [showClearButton]="false" />
                </th>
                <th>
                    <p-columnFilter type="text" field="descripcion" [showClearButton]="false" />
                </th>
                <th>
                    <p-columnFilter type="text" field="descEstado" [showClearButton]="false" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td style="text-align: center;">{{rowData.nombre}}</td>
                <td style="text-align: center;">{{rowData.descripcion}}</td>
                <td style="text-align: center;">{{rowData.descEstado}}</td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                        routerLink="/departamento/departamento-form/{{rowData.idDepartamento}}" />
                    <p-button icon="pi pi-ban" severity="danger" [rounded]="true" [outlined]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
