<div class="card card-w-title">
    <p-button icon="pi pi-angle-double-left" label="Volver" (onClick)="confirmVolver()" />
    <p-button *ngIf="usuario.estado !== 'AC' && isEdicion" [disabled]="bloquearEdicion" label="Reactivar Usuario"
        (onClick)="confirmReactivar()" icon="pi pi-check" severity="success" style="float: right;" />
</div>

<div class="card card-w-title" style="padding: 20px;">
    <h5>USUARIO</h5>

    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="col-12 md:col-12">
            <div class="p-fluid">
                <div class="field grid">
                    <label htmlFor="usuario" class="col-12 mb-2 md:col-2 md:mb-0">Usuario: <b>*</b> </label>
                    <div class="col-12 md:col-4">
                        <input pInputText id="usuario" type="text" formControlName="usuario" />
                    </div>
                    <label htmlFor="password" class="col-12 mb-2 md:col-2 md:mb-0">Password: <b> *</b></label>
                    <div class="col-12 md:col-4">
                        <p-password id="password" formControlName="password" placeholder="Contrase&ntilde;a"
                            [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-2 md:w-20rem"></p-password>
                    </div>
                </div>
                <div class="error field grid">
                    <div class="col-12 md:col-6"
                        *ngIf="usuarioForm.get('usuario').invalid && (usuarioForm.get('usuario').dirty || usuarioForm.get('usuario').touched)">
                        <small *ngIf="usuarioForm.get('usuario').errors?.required">El usuario es
                            requerido.</small>
                    </div>
                    <div class="col-12 md:col-6"
                        *ngIf="usuarioForm.get('password').invalid && (usuarioForm.get('password').dirty || usuarioForm.get('password').touched)">
                        <small *ngIf="usuarioForm.get('password').errors?.required">La contrase&ntilde;a es
                            requerida.</small>
                    </div>
                    </div>

                <div class="field grid">
                    <label htmlFor="persona" class="col-12 mb-2 md:col-2 md:mb-0">Persona <b> *</b></label>
                    <div class="col-12 md:col-4">
                        <p-dropdown [options]="personas" formControlName="persona" placeholder="Seleccione la Persona"
                            optionLabel="nombreCompleto" [showClear]="true"></p-dropdown>
                    </div>
                    <label htmlFor="area" class="col-12 mb-2 md:col-2 md:mb-0">&Aacute;rea: <b> *</b></label>
                    <div class="col-12 md:col-4">
                        <p-dropdown [options]="areas" formControlName="area" placeholder="Seleccione el &Aacute;rea"
                            optionLabel="nombre" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="error field grid">
                    <div class="col-12 md:col-6"
                        *ngIf="usuarioForm.get('persona').invalid && (usuarioForm.get('persona').dirty || usuarioForm.get('persona').touched)">
                        <small *ngIf="usuarioForm.get('persona').errors?.required">La persona es
                            requerida.</small>
                    </div>
                    <div class="col-12 md:col-6"
                        *ngIf="usuarioForm.get('area').invalid && (usuarioForm.get('area').dirty || usuarioForm.get('area').touched)">
                        <small *ngIf="usuarioForm.get('area').errors?.required">El &aacute;rea es requerida.</small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="rol" class="col-12 mb-2 md:col-2 md:mb-0">Rol: <b> *</b></label>
                    <div class="col-12 md:col-4">
                        <p-dropdown [options]="roles" formControlName="rol" placeholder="Seleccione el Rol"
                            optionLabel="nombre" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="error field grid">
                    <div class="col-12 md:col-6"
                        *ngIf="usuarioForm.get('rol').invalid && (usuarioForm.get('rol').dirty || usuarioForm.get('rol').touched)">
                        <small *ngIf="usuarioForm.get('rol').errors?.required">El Rol es
                            requerido.</small>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div class="p-toolbar-group-end">
            <p-button *ngIf="!usuario.idUsuario" [disabled]="bloquearEdicion" class="mr-2" icon="pi pi-check"
                (click)="confirmCreateUsuario()" label="Guardar" severity="success" />
            <p-button *ngIf="usuario.idUsuario" [disabled]="bloquearEdicion" class="mr-2" icon="pi pi-check"
                (click)="confirmUpdateUsuario()" label="Actualizar" />
            <p-button [disabled]="bloquearEdicion" class="mr-2" icon="pi pi-times" (click)="confirmVolver()"
                label="Cancelar" severity="danger" />
        </div>
    </p-toolbar>

</div>



<p-confirmDialog header key="usuario" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle"
    [closable]="false" [closeOnEscape]="false" [style]="{width: '450px'}" acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast position="top-right" key="usuario" [style]="{width: '525px'}"></p-toast>
